<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}
        
    {% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'favicon.png' %}">
    <style>
       .thongbao {color: #E12350 ; text-align: center;}  
    </style>

</head>

<body>
    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    {% block header %}
                        
                    {% endblock header %}
                </h1>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-offset-4 is-4">
                    {% block form_search %}
                        
                    {% endblock form_search %}
                </div>
            </div>
            <div class = "thongbao">
                {% if messages %}
                    {% for message  in messages %}
                        {{message|safe}}
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-offset-4 is-4">
                    {% block content %}
                        
                    {% endblock content %}
                </div>
            </div>
        </div>
    </section>
    <footer class="footer">
    	Web APP
    </footer>
</body>

</html>