{% extends "base.html" %}



{% block title %}
    Đồ án I - App Dự báo thời tiết
{% endblock title %}

{% block header %}
    Dự báo thời tiết
{% endblock header %}

{% block form_search %}
                    <form method="POST">
                        {% csrf_token %}
                        <div class="field has-addons">
                            <div class="control is-expanded">
                                {{ form.name }}
                            </div>
                            <div class="control">
                                <button type="submit" class="button is-info">
                                    Tìm kiếm
                                </button>
                            </div>
                        </div>
                    </form>
{% endblock form_search %}

{% block content %}
    {% for city_weather in weather_data|slice:":3" %}
                    <div class="box">
                        <article class="media">
                            <div class="media-left">
                                <figure class="image is-50x50">
                                    <img src="http://openweathermap.org/img/w/{{ city_weather.icon }}.png" alt="Image">
                                </figure>
                            </div>
                            <div class="media-content">
                                <div class="content">
                                    <p>
                                        <span class="title">{{ city_weather.city }}</span>
                                        <br>
                                        <span class="subtitle">{{ city_weather.temperature }}° C</span>
                                        <br> {{ city_weather.description }}
                                    </p>
                                </div>
                            </div>
                        </article>
                    </div>
                     {% if forloop.first %}
                       <p>Tìm kiếm gần đây:</p>
                        <br>
                     {% endif %}
                    {% endfor %}
{% endblock content %}